.donut__chart {
  display: inline-block;
  padding-top: 0px;
  max-width: 375px;
  border-radius: 4px;

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    label,
    h3,
    p,
    h4 {
      font-family: sans-serif;
      margin: 0;
      text-align: center;
      display: block;
    }

    label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: var(--text-1);
    }

    h3 {
      font-size: 3rem;
      color: var(--text-1);

      sup {
        font-size: 1.5rem;
        font-weight: normal;
      }
    }

    h4,
    p {
      font-weight: normal;
      color: var(--text-3);
    }

  }

  &__legend {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .legend__item {
      background: var(--elevation-3);
      border: none;
      text-align: left;
      display: flex;
      margin: 0 7px 7px 0;
      padding: 7px;
      transition: .2s ease-in-out;
      border: 1px solid var(--elevation-1);
      cursor: pointer;

      &.active {
        transform: scale(1.07);

        border-radius: 2px;
        box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.01);
      }

      &__icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 2px;
      }

      label {
        display: flex;
        flex-direction: column;
        color: var(--text-1);
      }

      h5 {
        margin: 0;
        margin-bottom: 3px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 700;
        line-height: 1em;
        color: var(--text-1);
      }

      span {
        color: var(--text-2);
        font-size: 12px;
        font-family: sans-serif;
        line-height: 1em;
      }
    }
  }


  svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    circle {
      transition: stroke-dasharray 2s cubic-bezier(.59, .26, .17, 1),
        stroke-width 0.5s cubic-bezier(.59, .26, .17, 1);
      transform-origin: center center;
      cursor: pointer;
    }
  }
}