.drag__bucket {
  width: 340px;
  background: var(--elevation-2);
  padding: 10px;
  border: 1px solid var(--elevation-2);
  margin-bottom: 10px;
  border-radius: 2px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 24px;

    .bucket__actions {
      display: flex;
      align-items: center;

      button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;

        i {
          padding: 0;
          margin: 0;
          color: var(--elevation-0);
        }
      }
    }

    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 12px;
      line-height: 14px;
      margin-right: 3px;

      i {
        margin: 0;
        padding: 0;
        color: var(--text-1);
        transition: .2s ease-in-out;
      }

      &:hover,
      &:focus {
        i {
          color: var(--highlight-primary-1);
        }
      }
    }
  }

  &__target {
    background: var(--elevation-5);
    border: dashed 1px var(--elevation-1);

    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;

    p {
      font-size: 12px;
      text-align: center;
      // font-weight: bold;
      color: var(--text-3);
    }

    &.active {
      border: 1px dashed var(--highlight-primary-2);
      background: rgba($color: #ff5000, $alpha: .2);
    }
  }
}


.buckets__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: min-content;
  max-width: 800px;

  &__title {
    grid-column: 1/3;
  }


  &__outer {
    background: var(--elevation-3);
    padding: 10px;
    border: 1px solid var(--elevation-2);
    height: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    border-radius: 2px;
    min-height: 0;

    h3 {
      @include typeface;
      font-weight: normal;
      margin-bottom: 10px;
      font-size: 17px;
      color: var(--text-1);
      
      i {
        font-size: 12px;
        line-height: 17px;
        color: var(--text-3);
      }
    }


  }

  &__inner {
    height: 100%;
    background: var(--elevation-5);
    padding: 10px;
    border: 1px solid var(--elevation-5);
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--elevation-5);
  
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--highlight-secondary-1);
  
    }


  }
}

button.add__condition {
  background: none;
  border: none;
  @include typeface;
  font-size: 12px;
  color: var(--highlight-primary-2);
  cursor: pointer;
  margin-top: 15px;
  text-align: left;

  i {
    margin: 0;
    font-size: 9px;
    line-height: 12px;
  }
}


.bucket__actions__radio {
  margin-right: 5px;
  .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }

  .container {
    @include typeface;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid var(--elevation-1);
    color: var(--text-3);
    padding: 5px;
    width: 37px;
    display: inline-block;
    text-align: center;
    z-index: 200;
    cursor: pointer;
    transition: .2s ease-in-out;

    &.checked, &:focus, &:hover {
      background: rgba($color: #ff5000, $alpha: .2);
      border: 1px solid var(--highlight-primary-2);
      color: var(--highlight-primary-2);
      z-index: 500;
    }
  }

  &> :first-child {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &> :last-child {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}