.drag__bucket {
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 10px;
  width: 400px;

  &__target {
    background: #f7f7f7;
    border: dashed 2px #cccccc;

    height: 69px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;

    p {
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      color: #7e7e7e;
    }

    &.active {
      border: 2px dashed var(--highlight-primary-1);
      background: #b7dbff;
    }
  }
}