.custom-select {
  border: var(--elevation-1) 1px solid;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  pointer-events: all;
  

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    select {
      cursor: not-allowed !important;
    }
  }

  select {
    appearance: none;
    // Additional resets for further consistency
    font-family: sans-serif;
    font-size: 12px;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    cursor: inherit;
    line-height: inherit;
    padding: 7px 27px 7px 7px;
    position: relative;
    cursor: pointer;
    background-color: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-1);
    background: var(--elevation-5);

    &:focus,
    &:active {
      &+.custom-select::after {
        border-top: 5px solid red;
      }
    }

    option {
      color: var(--text-3) !important;
    }
  }


  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    border-left: 1px solid var(--elevation-1);
    z-index: 5000;
    pointer-events: none;
    background: var(--elevation-3);
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--text-3);
    pointer-events: none;
    z-index: 5001;
  }

  &:focus,
  &:active,
  &:hover {
    border: var(--highlight-primary-2) 1px solid;
  }

  &.base {
    border: none;
    background: none;

    &::before {
      background: none;
      border: none;
    }

    select {
      background: none;
      color: var(--elevation-1);
    }

  }
}


.custom__range {
  display: flex;
  border: 1px solid var(--elevation-1);
  height: 100%;
  align-items: center;
  border-radius: 3px;


  &__input {
    display: inline-block;
    border-right: 1px solid var(--elevation-1);
    height: 100%;

    input {
      font-family: sans-serif;
      font-size: 12px;
      margin: 0 !important;
      box-sizing: border-box;
      border: none;
      outline: none;
      padding: 0;
      text-align: right;
      border-radius: 2px;
      padding: 3px 7px;
      height: 100%;
      cursor: pointer;
      border: 1px solid rgba($color: #000000, $alpha: 0);
      background: var(--elevation-5);
      color: var(--text-1);

      &:hover, &:focus, &:active {
        border: 1px solid var(--highlight-primary-2);
      }
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    padding: 0 7px;
  }

  &__slider input {
    -webkit-appearance: none;
    height: 3px;
    background: var(--elevation-6);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    width: 100%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      background: var(--highlight-primary-2);
      cursor: pointer;
      border-radius: 50%;
      box-shadow: var(--shadow-down);
      border: 2px solid var(--elevation-1);
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      background: var(--highlight-primary-2);
      cursor: pointer;
    }
  }
}

input.custom {
  border: 1px solid var(--elevation-1);
  background: var(--elevation-5);
  height: 100%;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  font-family: sans-serif;
  padding: 0 7px;
  
  &:hover,
  &:focus,
  &:active {
    border: 1px solid var(--highlight-primary-2);
  }

  &::placeholder {
    color: var(--text-3);
  }
}

.editable__label {
  display: flex;
  form {
    display: inline-block;
  }

  input[type="text"] {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    background: none;
    border: 1px solid rgba($color: #000000, $alpha: 0);
    font-size: 14px;
    transition: .2s ease-in-out;
    padding: 0 5px;
    border-radius: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-1);
  }

  input[type="text"].editing {
    border: 1px solid var(--elevation-1);
    background: var(--elevation-2);
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    margin-right: 3px;

    i {
      margin: 0;
      padding: 0;
      color: var(--text-2);
      transition: .2s ease-in-out;
    }

    &:hover,
    &:focus {
      i {
        color: var(--highlight-primary-2);
      }
    }
  }
}

.fieldset {
  margin-top: 10px;

  label {
    font-size: 12px;
    font-family: sans-serif;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--text-3);
  }

  textarea, input[type='text'] {
    width: 100%;
    font-family: sans-serif;
    padding: 5px;
    font-size: 12px;
    border: 1px solid var(--elevation-5);
    background: var(--elevation-5);
    border-radius: 3px;
    color: var(--text-1);

    &::placeholder {
      color: var(--text-3);
    }
  }

}