
.drag__bucket__rules {
  & > :last-child {
    margin-bottom: 10px;

    .rule__append {
      display: none;
    }
  }
}

.rule {
  border: 1px solid var(--elevation-1);
  border-radius: 3px;
  margin-bottom: 26px;
  position: relative;
  background: var(--elevation-2);
  box-shadow: var(--shadow-down);

  &__head {
    // padding: 5px;
    display: flex;
  }

  &__head__type {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--elevation-1);
    padding: 5px 10px;
    font-weight: bold;
    min-width: 135px;

    h5{
      font-family: sans-serif;
      font-size: 12px;
      margin-left: 5px;
      text-transform: capitalize;
      color: var(--text-1);
    }
  }

  &__head__name {
    padding: 5px 50px 5px 10px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    h5 {
        font-family: sans-serif;
        font-size: 12px;
        margin-left: 5px;
        text-transform: capitalize;
        line-height: 1.3em;
        color: var(--text-1);
      }
  }

  &__body {
    padding: 5px 5px;
    border-top: 1px solid var(--elevation-1);
    display: flex;
  }

  &__append {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);

    span{
      font-family: sans-serif;
      background: rgba($color: #ff5000, $alpha: .2);
      border-radius: 10px;
      display: inline-block;
      padding: 3px 10px;
      font-size: 9px;
      border: 1px solid var(--highlight-primary-2);
      color: var(--highlight-primary-2);
      position: relative;

      &::before,
      &::after {
        content: "";
        height: 6px;
        width: 1px;
        background: var(--highlight-primary-2);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &::before {
        bottom: 100%;
      }

      &::after {
        top: 100%;
      }
    }
  }
}