aside {
  position: relative;
  min-width: 270px;
  max-width: 270px;
  max-height: 100vh;
  padding-top: 36px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background: var(--elevation-3);
}

.sidebar__container {
  background: var(--elevation-1);
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 1px;
}

header.sidebar {
  z-index: 502;
  border-bottom: 1px solid var(--elevation-1);
  border-radius: 1px;

  .sidebar__wrap {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px 20px;

    & > :first-child {
      grid-column: 1 / span 1;

      .sidebar__header__icon {
        display: block;
        width: 35px;
        height: 35px;
        background: var(--highlight-secondary-2);
        @include gradient-secondary;
        border-radius: 4px;
        text-align: center;

        i {
          margin: 0;
          line-height: 40px;
          color: var(--text-1);
          font-size: 17px;
        }
      }
    }

    & > :last-child {
      grid-column: 2 / span 4;

      h3, span {
        font-family: sans-serif;
      }

      h3 {
        font-size: 17px;
        font-weight: bold;
        color: var(--text-1);
      }

      span {
        font-size: 11px;
        color: var(--text-2);
      }
    }
  }
}

