.summary {
  margin: 0 10px;
  width: 100%;

  &__container {
    background: var(--elevation-1);
    padding: 20px 20px 0 20px;
    border: 1px solid var(--elevation-5);
  }

  &__section.header {
    border-bottom: 1px solid var(--elevation-4);
    padding-bottom: 20px;
    input[type="text"] {
      font-size: 17px;
      color: var(--text-1);
    }
  }

  &__section {
    margin-bottom: 20px;
    h3 {
      font-family: sans-serif;
      font-weight: 700;
      font-size: 17px;
    }

    h4 {
      font-family: sans-serif;
      margin-top: 3px;
      font-size: 12px;
    }

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 12px;
      color: var(--text-3);
    }
  }

  &__section.legend {
    button {
      background: none;
      border: none;

      .legend__item {
        display: flex;
      }

      .legend__item__icon {
        width: 12px;
        height: 12px;
        background: var(--highlight-primary-1);
        display: block;
        margin-right: 5px;
      }

      .legend__item__label {
        text-align: left;

        h3 {
          font-size: 12px;
        }

        p {
          color: var(--text-3);
        }
      }
    }
  }

  &__section.chart {
    display: flex;
    justify-content: space-around;

    .chart__container {
      width: 220px;
      height: 220px;
    }

    .chart__circle {
      background: var(--highlight-primary-1);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;

      &.inner {
        background: var(--highlight-primary-2);
        position: absolute;
        left: 12%;
        top: 12%;
        width: 20%;
        height: 20%;
      }
    }
  }
}