/*------------------------------------------------
NORMALIZE
------------------------------------------------*/
@import "./normalize/normalize";
@import "./normalize/resets";

/*------------------------------------------------
VARIABLES
------------------------------------------------*/
@import "./variables/variables";
@import "./variables/typography";

/*------------------------------------------------
COMPONENTS
------------------------------------------------*/
@import "./components/buttons";
@import "./components/forms";
@import "./components/sidebar";
@import "./components/header";
@import "./components/draglist";
@import "./components/dragbuckets";
@import "./components/rules";
@import "./components/summary";
@import "./components/donutchart";
@import "./components/tooltip";

/*------------------------------------------------
MAIN STYLES
------------------------------------------------*/

.app {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  background: var(--elevation-6);
  display: flex;
  // flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

#root, .app {
  flex: 1;
  display: flex;
  max-height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  height: 100%;
  max-width: 1440px;
  margin: auto;
}

main {
  padding-top: 36px + 10px;
  padding-bottom: 10px;
  // width: calc(100% - 300px);
  display: flex;
}

.type__icon {
  width: 25px;
  height: 25px;
  text-align: center;
  background: var(--highlight-secondary-1);
  @include gradient-secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: var(--text-1);
    transform: translateX(2px);
    font-size: 12px;
  }
}


.empty {
  font-size: 12px;
  text-align: center;
  padding: 6px;
  color: var(--text-3);
  opacity: 0.7;
}

