@mixin logo-type {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@mixin heading-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin body-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin typeface {
  font-family: "Roboto", sans-serif;
}

/*----------------------------------------------
# HEADINGS
------------------------------------------------*/

* h1 {
  @include heading-regular;
  font-size: 21px;
  color: var(--text-1);
  line-height: 1.2em;
  margin: 0;
}

* h2 {
  @include heading-regular;
  font-size: 17px;
  color: var(--text-1);
  line-height: 1.4em;
}

/*----------------------------------------------
# PARAGRAPHS
------------------------------------------------*/

* p {
  @include typeface;
  line-height: 1.4em;
  color: var(--text-1);
  font-size: 17px;
}

* p.mime {
  @include typeface;
  line-height: 1.75em;
  color: var(--text-1);
  font-size: 14px;
}
