/* 
  -----------------------------------
  VARIABLES
  -----------------------------------
*/
:root {
  // SHADOWS
  --shadow-down: 0px 0px 3px 1px rgba(0, 0, 0, 0.115);
  --shadow-up: 0px 0px -3px 1px rgba(0, 0, 0, 0.115);
  --text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
  // BACKGROUNDS
  --elevation-0: #70747a;
  --elevation-1: #555b63;
  --elevation-2: #384759;
  --elevation-3: #333d49;
  --elevation-4: #454642;
  --elevation-5: #253038;
  --elevation-6: #1a242b;
  // TEXT
  --text-1: #f7f7f7;
  --text-2: #ccc;
  --text-3: #bbbbbb;
  --text-4: #aaaaaa;
  // HIGHLIGHTS
  --highlight-primary-1: #ff8300;
  --highlight-primary-2: #ff5000;
  --highlight-primary-3: #fc1923;
  --highlight-secondary-1: #26a1ff;
  --highlight-secondary-2: #265fff;
  // SUCCESS
  --success-1: #19b51e;
  --success-2: #1ecc24;
  // DANGER
  --danger-1: #db0f0f;
  --danger-2: #e83333;
  --danger-3: #ffcece;
  // INFO
  --info-1: #1180db;
  --info-2: #3aa1f4;
}

@mixin gradient-primary {
  background: linear-gradient(130deg, var(--highlight-primary-1) 0%, var(--highlight-primary-2) 100%);
}

@mixin gradient-secondary {
    background: linear-gradient(130deg, var(--highlight-secondary-1) 0%, var(--highlight-secondary-2) 100%);
}

@mixin wrap {
  max-width: 1500px;
  margin: auto;
  padding: 0 10px;

  @media screen and (min-width: 600px) {
    padding: 0 10px;
  }
}

@mixin wrap-mobile {
  max-width: 1500px;
  margin: auto;
  padding: 0;

  @media screen and (min-width: 500px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 600px) {
    padding: 0 40px;
  }
}
